# Not needed as we can get them with vale sync
vale/styles
nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data

# this is managed by tpm
tmux/plugins/tmux
tmux/plugins/tmux-matryoshka

k9s/clusters/
k9s/k9s.log
