# External dependencies fetched by `chezmoi apply`.
#
# Two flavours:
#   - `git-repo`: shell/editor plugins cloned from GitHub. These replace
#     the submodules used by the previous dotbot setup.
#   - `archive-file`: single-binary tools downloaded directly from GitHub
#     releases. Cross-platform via .chezmoi.os / .chezmoi.arch.

# --- Plugins (clones) ----------------------------------------------------

[".zsh/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

[".vim/bundle/Vundle.vim"]
    type = "git-repo"
    url = "https://github.com/VundleVim/Vundle.vim.git"
    refreshPeriod = "168h"

[".todo.actions.d/graph"]
    type = "git-repo"
    url = "https://github.com/timpulver/todo.txt-graph.git"
    refreshPeriod = "168h"

[".todo.actions.d/chcon"]
    type = "git-repo"
    url = "https://github.com/kunkku/todo.txt-cli-chcon.git"
    refreshPeriod = "168h"

# --- Single-binary tools (GitHub releases) -------------------------------
# Map chezmoi's os/arch tokens to the rust-target tokens GitHub releases use.

{{- $arch := "x86_64" -}}
{{- if eq .chezmoi.arch "arm64" -}}{{- $arch = "aarch64" -}}{{- end -}}

{{- $rustTarget := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $rustTarget = printf "%s-apple-darwin" $arch -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $rustTarget = printf "%s-unknown-linux-gnu" $arch -}}
{{- end }}

{{ if $rustTarget -}}
[".local/bin/starship"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s.tar.gz" $rustTarget) | quote }}
    executable = true
    path = "starship"
    refreshPeriod = "168h"
{{- end }}
